
# Ignore folders.
.storage
.cloud
.google.token
icloud
deps
.cloud
.HA_VERSION
.storage
tmp
tts

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
google_calendars.yaml
secrets.yaml
entity_registry.yaml

*.pid
*.xml
*.csr
*.crt
*.key
*.jpg
home-assistant.log
home-assistant_v2.db
*.db-journal
*.db
lib
*.conf
.*
*.err
*.html

